body {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
}

.gif-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  height: 100vw;
}

.gif-list__link {
  display: flex;
  flex: 1 1 auto;
  width: 33.3%;
  border-radius: 5px;
}

.gif-list__image {
  height: 100%;
  width: 100%;
}

.gif-detail {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.gif-detail__image {
  align-self: center;
}
