[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
PyYAML = "*"
Frozen-Flask = "*"
click = "*"
Flask-paginate = "*"
PyPages = "*"
Pillow = "*"
Flask-Sitemap = "*"
feedgenerator = "*"
django-jsonfeed = "*"
dateutils = "*"
algoliasearch = "*"
python-dotenv = "*"
