[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
pyyaml = "*"
frozen-flask = "*"
click = "*"
flask-paginate = "*"
pypages = "*"
pillow = "*"
flask-sitemap = "*"
feedgen = "*"
