<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Myles' GIFs{%- endblock %}</title>
        <meta name="description" content="{% block description %}GIF is pronounced with a soft 'G'.{%- endblock %}">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ now('%s') }}">

        <link rel="alternate" type="application/rss+xml" href="{{ url_for('views.gif_list_atom') }}">
        <link rel="alternate" type="application/json" href="{{ url_for('views.gif_list_jsonfeed') }}" />

        {% block extra_head %}{%- endblock %}

        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u = "//piwik.mylesb.ca/";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '20']);
                var d = document,
                    g = d.createElement('script'),
                    s = d.getElementsByTagName('script')[0];

                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>

        <noscript><p><img src="//piwik.mylesb.ca/piwik.php?idsite=20&rec=1" style="border: 0;"></p></noscript>
    </head>

    <body id="mylesb.ca-gifs">
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% block body %}{%- endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}?v={{ now('%s') }}"></script>
    </body>
</html>
