{% extends "base.html" %}

{% block title %}{% if gif.caption %}{{ gif.caption }}{% else %}Myles' Gifs{% endif %}{%- endblock %}

{% block extra_head %}
<link rel="alternate" type="text/javascript" href="{{ url_for('views.gif_detail_json', slug=gif.slug) }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MylesGifs">
<meta name="twitter:creator" content="@MylesB">
<meta name="twitter:title" content="{% if gif.caption %}{{ gif.caption }}{% else %}Myles' Gifs{% endif %}">
<meta name="twitter:description" content="Myles' Gifs">
<meta name="twitter:image" content="https://gifs.mylesb.ca{{ url_for('views.gif_image', slug=gif.slug) }}">

<meta property="og:type" content="website">
<meta property="og:url" content="https://gifs.mylesb.ca{{ url_for('views.gif_detail', slug=gif.slug) }}">
<meta property="og:title" content="{% if gif.caption %}{{ gif.caption }}{% else %}Myles' Gifs{% endif %}">
<meta property="og:description" content="Myles' Gifs">
<meta property="og:image" content="https://gifs.mylesb.ca{{ url_for('views.gif_image', slug=gif.slug) }}">
{% if gif.width %}<meta property="og:image:width" content="{{ gif.width }}">{% endif %}
{% if gif.height %}<meta property="og:image:height" content="{{ gif.height }}">{% endif %}

<link rel="alternate" type="application/json+oembed" href="https://gifs.mylesb.ca{{ url_for('views.gif_oembed_json', slug=gif.slug) }}">
{%- endblock %}

{% block body %}
<div class="gif-detail">
    {% if gif.mp4 %}
    <video loop autoplay muted>
        <source src="{{ url_for('views.gif_image_mp4', slug=gif.slug)}}" type="video/mp4" class="gif-detail__image" />
        <img src="{{ url_for('views.gif_image', slug=gif.slug) }}" class="gif-detail__image" {% if gif.caption %}alt="{{ gif.caption }}"{% endif %} />
    </video>
    {% else %}
    <img src="{{ url_for('views.gif_image', slug=gif.slug) }}" class="gif-detail__image" {% if gif.caption %}alt="{{ gif.caption }}"{% endif %} />
    {% endif %}
</div>
{%- endblock body %}
