{% extends "base.html" %}

{% block extra_head %}
<link rel="alternate" type="text/javascript" href="{{ url_for('views.gif_list_json') }}">
{%- endblock %}

{% block body %}
<div class="gif-list">
    {% if page.number == 1 %}
    <a href="/" class="gif-list__link gif-list__link--title">
        Myles' Gifs
    </a>
    {% endif %}

    {% if page.has_previous %}
    <a href="{{ url_for('views.gif_list', page=page.previous_page_number) }}" class="gif-list__link gif-list__link--page">Previous</a>
    {% endif %}

    {% for gif in page.object_list %}
    <a class="gif-list__link" href="{{ url_for('views.gif_detail', slug=gif.slug) }}" {% if gif.caption %}title="{{ gif.caption }}"{% endif %}>
        {% if gif.mp4 or gif.webp %}
        <video loop autoplay muted width="{{ gif.width }}" height="{{ gif.height }}" class="gif-list__video">
            {% if gif.mp4 %}
            <source src="{{ url_for('views.gif_image_mp4', slug=gif.slug) }}" type="video/mp4" class="gif-list__image">
            {% endif %}
            {% if gif.webp %}
            <source src="{{ url_for('views.gif_image_webp', slug=gif.slug) }}" type="video/webp" class="gif-list__image">
            {% endif %}
            <img src="{{ url_for('views.gif_image', slug=gif.slug) }}" class="gif-list__image"{% if gif.caption %} alt="{{ gif.caption }}"{% endif %}>
        </video>
        {% else %}
        <img src="{{ url_for('views.gif_image', slug=gif.slug) }}" class="gif-list__image" {% if gif.caption %}alt="{{ gif.caption }}"{% endif %} />
        {% endif %}
    </a>
    {%- endfor %}

    {% if page.has_next %}
    <a href="{{ url_for('views.gif_list', page=page.next_page_number) }}" class="gif-list__link gif-list__link--page">Next</a>
    {% endif %}
</div>
{%- endblock body %}
