{% extends "base.html" %}

{% block title %}{% if meta.caption %}{{ meta.caption }}{% else %}Myles' Gifs{% endif %}{%- endblock %}

{% block extra_head %}
<link rel="alternate" type="text/javascript" href="{{ url_for('views.gif_detail_json', slug=slug) }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MylesGifs">
<meta name="twitter:creator" content="@MylesB">
<meta name="twitter:title" content="{% if meta.caption %}{{ meta.caption }}{% else %}Myles' Gifs{% endif %}">
<meta name="twitter:image" content="https://gifs.mylesb.ca{{ url_for('views.gif_image', slug=slug) }}">

<meta property="og:type" content="website">
<meta property="og:url" content="https://gifs.mylesb.ca{{ url_for('views.gif_detail', slug=slug) }}">
<meta property="og:title" content="{% if meta.caption %}{{ meta.caption }}{% else %}Myles' Gifs{% endif %}">
<meta property="og:image" content="https://gifs.mylesb.ca{{ url_for('views.gif_image', slug=slug) }}">
{% if meta.width %}<meta property="og:image:width" content="{{ meta.width }}">{% endif %}
{% if meta.height %}<meta property="og:image:height" content="{{ meta.height }}">{% endif %}
{%- endblock %}

{% block body %}
<div class="gif-detail">
    <img src="{{ url_for('views.gif_image', slug=slug) }}" class="gif-detail__image" {% if meta.caption %}alt="{{ meta.caption }}"{% endif %} />
</div>
{%- endblock body %}
