{% extends "base.html" %}

{% block extra_head %}
<link rel="alternate" type="text/javascript" href="{{ url_for('views.gif_list_json') }}">
{%- endblock %}

{% block body %}
<div class="gif-list">
    {% if pages.has_previous %}
    <a href="{{ url_for('views.gif_list', page=pages.previous) }}" class="gif-list__link gif-list__link--page">Previous</a>
    {% endif %}

    {% for gif in gifs %}
    <a href="{{ url_for('views.gif_detail', slug=gif ) }}" class="gif-list__link">
        <img src="{{ url_for('views.gif_image', slug=gif) }}" class="gif-list__image" />
    </a>
    {%- endfor %}

    {% if pages.has_next %}
    <a href="{{ url_for('views.gif_list', page=pages.next) }}" class="gif-list__link gif-list__link--page">Next</a>
    {% endif %}
</div>
{%- endblock body %}
