.brand {
  padding: .5rem 1rem;
  position: absolute;

  &__link {
    color: set-text-colour($primary-colour);
    font-size: 5vh;
    text-decoration: none;

    &:hover {
      color: darken(set-text-colour($primary-colour), 10);
      text-decoration: underline;
    }
  }
}
