.gif-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__link {
    background-color: lighten(#000, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 245px;
    margin: 5px;
    padding: 0;
  }

  &__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
