@import 'functions';

$primary-colour: rgb(104, 78, 121);

body {
  background-color: $primary-colour;
  color: set-text-colour($primary-colour);
  font-family: sans-serif;
  margin: 0 auto;
}

@import 'gif-list';
@import 'gif-detail';
